# Node.js
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# IDE specific files
.vscode/
.idea/
